<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ConectorShopifySAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ConectorShopifySAP.Properties.Settings>
            <setting name="CompanyDB" serializeAs="String">
                <value>TEST_DERMA</value>
            </setting>
            <setting name="UserSAP" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="PassSAP" serializeAs="String">
                <value>B1AdminH2</value>
            </setting>
            <setting name="urlSL" serializeAs="String">
                <value>http://172.16.61.28:50001/b1s/v1/</value>
            </setting>
            <setting name="dominio" serializeAs="String">
                <value>dermaexpress-dev.myshopify.com</value>
            </setting>
            <setting name="api_v_shopify" serializeAs="String">
                <value>2023-10</value>
            </setting>
            <setting name="TokenShopify" serializeAs="String">
                <value>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</value>
            </setting>
            <setting name="HanaConection" serializeAs="String">
                <value>Server=172.16.61.28:30013;UserID=SYSTEM;Password=B1AdminH2;Database=NDB</value>
            </setting>
            <setting name="orderShopify" serializeAs="String">
                <value>orders.json</value>
            </setting>
            <setting name="ordersShopifyByDate" serializeAs="String">
                <value>orders.json?created_at_min=</value>
            </setting>
            <setting name="customerShopify" serializeAs="String">
                <value>/customers/</value>
            </setting>
            <setting name="WhsCode" serializeAs="String">
                <value>01</value>
            </setting>
            <setting name="ProductVariant" serializeAs="String">
                <value>/admin/api/2023-10/variants/</value>
            </setting>
            <setting name="graphql" serializeAs="String">
                <value>/admin/api/2023-10/graphql.json?</value>
            </setting>
            <setting name="adjunst" serializeAs="String">
                <value>inventory_levels/adjust.json</value>
            </setting>
            <setting name="location_id" serializeAs="String">
                <value>66487746780</value>
            </setting>
            <setting name="OrdersSAP" serializeAs="String">
                <value>Orders</value>
            </setting>
            <setting name="metafields" serializeAs="String">
                <value>/metafields.json</value>
            </setting>
            <setting name="InvoiceSAP" serializeAs="String">
                <value>Invoices</value>
            </setting>
            <setting name="IncomingPayments" serializeAs="String">
                <value>IncomingPayments</value>
            </setting>
            <setting name="Product" serializeAs="String">
                <value>products.json</value>
            </setting>
            <setting name="ListPrices" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="inventory_levels" serializeAs="String">
                <value>/admin/api/2023-10/inventory_levels/adjust.json</value>
            </setting>
            <setting name="UnidadNegocio" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="metafieldSAP" serializeAs="String">
                <value>idsap</value>
            </setting>
        </ConectorShopifySAP.Properties.Settings>
    </userSettings>
</configuration>
